@font-face {
    font-family: exoBlack;
    src: url(../media/exo-font/Exo-Black.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../media/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: CurierPrimeBold;
    src: url(../media/Courier_Prime/CourierPrime-Bold.ttf);
}
:root {
    --text: #f6f8e5;
    --background: #1e1e20;
    --primary: #884E8D;
    --secondary: #3B51B5;
    --accent: #fb1e4a;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    color: white;
    font-family: CurierPrimeBold;
}


table {
    border-spacing: 0.3em; /* Spazio tra le celle */
    width: 21em;
    height: 26em;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    vertical-align: center;
}

td {
    border: 2px solid #565759;
    padding: 20px; /* Spazio interno della cella */
    padding-top: 25px;
    text-align: center;
    color: white;
    font-size: 2em;
    line-height: 0em;
    text-transform: capitalize;
}

p { 
    margin: 0;
}

.popAnim {
    animation-name: Pop;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes Pop {
    from {
        border-color: #565759;
        transform: scale(0.8);
    }
  
    50% {
        border-color: #a7a8aa;
        transform: scale(1.1);

    }
    100% {
        border-color: #a7a8aa;
        transform: scale(1);
    }
}

.flip {
    transition: transform 350ms linear;
    transform: rotateX(180deg);
    rotate: x 180deg;
}